page-welcome {
    .scroll-content{
        .container {
            max-width: 400px;
            margin: 0 auto;
            border: 1px solid #b2ceff;
            width: 100%;
            .inner-sec{
                padding: 20px;
                .welcome-msg {
                    p {
                        font-weight: 400;
                        color: #898989;
                    }
                }
                .social-icon {
                    margin: 20px 0;
                }
                .button {
                    padding: 25px 0;
                }
                .lower-sec {
                    margin: 70px 0 0;
                    ion-icon.icon {
                        margin-left: 11px;
                    }
                }
            }
        }
    }
}
